<!doctype html>
<html ng-app="app">
	<head>
		<title>Work Dashboard</title>
		<link href="/webjars/purecss/0.6.0/build/pure-min.css" rel="stylesheet">
		<link href="/app.css" rel="stylesheet">
	</head>
	<body>
		<main>
			<approvals-dashboard></approvals-dashboard>
		</main>
		
		<script src="/webjars/angular/1.6.2/angular.min.js"></script>
		<script src="/app/app.module.js"></script>
		<script src="/app/humanify.filter.js"></script>
		<script src="/app/approvals-dashboard.component.js"></script>
	</body>
</html>