textarea {
	height: 8rem;
}

option[disabled] {
	color: #666;
}

#task-maker {
	padding: 0 8px;
}

#task-list h1 {
	font-size: 1em;
	padding: .3em 0;
	margin: 0 0 .3em 0;
	border-bottom: 1px solid #e5e5e5;
	color: #333;
}

.pure-form textarea,
.pure-form input[type="text"],
.pure-form input[type="number"],
.pure-form select {
	box-shadow: none;
}

.pure-form textarea:focus,
.pure-form input[type="text"]:focus,
.pure-form input[type="number"]:focus {
	background-color: #e0f2f1;
}

.chip {
	border: 1px solid transparent;
	border-radius: 4px;
	padding: 4px;
	white-space: nowrap;
}

.chip.created {
	background-color: #eeeeee;
	border-color: #bdbdbd;
}

.chip.in_progress {
	background-color: #b3e5fc;
	border-color: #4fc3f7;
}

.chip.completed {
	background-color: #c8e6c9;
	border-color: #81c784;
}

.chip.error {
	background-color: #ffcdd2;
	border-color: #e57373;
}
